<div class="container pt-5">
  <div class="card">
    <div class="card-header">
      <h2>Resend confirmation instructions</h2>
    </div>
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "row g-3" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="col-12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="col-12">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
        </div>

        <div class="col-12">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
