<div class="container mt-5">
  <%= link_to "Add Recipe", new_recipe_path, class: "btn btn-primary mb-3" %>
  <% @recipes.each do |recipe| %>
    <div class="card mb-5">
      <%= link_to recipe_path(recipe) do %>
        <div class="card-body">
          <article class="col-12 row">
            <div class="col-4" style="display:flex;flex-direction:column;align-items: center;">
              <h1><%= recipe.name %></h1>
              <%= link_to "REMOVE", recipe_path(recipe), method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
            </div>
            <div class="col-8">
              <p>
                <%= recipe.description %>
              </p>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
