<div class="container mt-5">
  <h2>Add New Recipe</h2>

  <%= form_with(model: @recipe, url: recipes_path, method: :post, html: { class: "row g-3" }) do |form| %>
    <div class="col-md-6">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="col-md-6 p-4 justify-content-center d-flex">
      <div class="form-check form-switch">
        <%= form.label :public, class: "form-check-label" %>
        <%= form.check_box :public, class: "form-check-input" %>
      </div>
    </div>

    <div class="col-md-12">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control", required: true %>
    </div>

    <div class="col-md-3">
      <%= form.label :preparation_time_hr, class: "form-label" %>
      <%= form.number_field :preparation_time_hr, class: "form-control", min: 0 %>
    </div>

    <div class="col-md-3">
      <%= form.label :preparation_time_min, class: "form-label" %>
      <%= form.number_field :preparation_time_min, class: "form-control", min: 0, max: 59 %>
    </div>

    <div class="col-md-3">
      <%= form.label :cooking_time_hr, class: "form-label" %>
      <%= form.number_field :cooking_time_hr, class: "form-control", min: 0 %>
    </div>

    <div class="col-md-3">
      <%= form.label :cooking_time_min, class: "form-label" %>
      <%= form.number_field :cooking_time_min, class: "form-control", min: 0, max: 59 %>
    </div>

    <div class="col-md-2">
      <%= form.submit "Create Recipe", class: "btn btn-primary" %>
    </div>

    <div class="col-md-2">
      <%= link_to "Back to Recipes", recipes_path, class: "btn btn-secondary" %>
    </div>
    
  <% end %>
  
</div>
