

<section class="container-fluid p-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if current_user == @recipe.user %>
        <%= form_with model: @recipe, method: :patch, class: "public-form" do |form| %>
          <div class="form-group mt-3 d-flex align-items-center">
            <label class="switch">
              <input type="checkbox" <%= 'checked' if @recipe.public %> onchange="togglePublic(this)">
              <span class="slider"></span>
            </label>
            <%= form.label :public, "Public", class: "ml-2" %>
          </div>
        <% end %>
      <% end %>

      <div class="card mb-5">
        <img class="card-img-top mx-auto mt-4" src="/image/kawaii-colorful-food.webp" alt="food illustration" style="max-width: 150px;">
        <div class="card-body text-center">
          <h1 class="card-title text-4xl font-bold capitalize text-clamp-2"><%= @recipe.name %></h1>
          <p class="card-text text-sm text-slate-400">by <%= @recipe.user.name %></p>
          <p class="card-text text-slate-500 max-w-[35ch]"><%= @recipe.description %></p>

          <div class="d-flex justify-content-between">
            <div class="flex-column py-3 text-center">
              <h2 class="capitalize">Prep time</h2>
              <div class="flex text-sm justify-content-evenly">
                <% if @preparation_time_hours > 0 %>
                  <%= "#{@preparation_time_hours} hr" %>
                <% end %>
                <% if @preparation_time_minutes > 0 %>
                  <%= "#{@preparation_time_minutes} min" %>
                <% end %>
              </div>
            </div>
            <div class="flex-column py-3 text-center">
              <h2 class="capitalize">Cook time</h2>
              <div class="flex text-sm justify-content-evenly">
                <% if @cooking_time_hours > 0 %>
                  <%= "#{@cooking_time_hours} hr" %>
                <% end %>
                <% if @cooking_time_minutes > 0 %>
                  <%= "#{@cooking_time_minutes} min" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-primary mr-2' %>
        <%= link_to "Generate shopping List", generate_shopping_lists_path(recipe_id: @recipe.id), class: 'btn btn-primary' %>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="p-3">Food</th>
              <th class="p-3">Quantity</th>
              <th class="p-3">Value</th>
              <th class="p-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @recipe.recipe_foods.each do |recipe_food| %>
              <tr>
                <td class="p-3"><%= recipe_food.food.name %></td>
                <td class="p-3"><%= recipe_food.quantity %></td>
                <td class="p-3"><%= recipe_food.total_price %></td>
                <td class="p-3">
                  <%= button_to 'Delete', recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), method: :delete, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

